{% extends 'base.html' %}

{% block content %}

<h2>Students</h2>

<a href="/add_student"
class="btn btn-primary mb-3">
Add Student
</a>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Name</th>
<th>Subject</th>
<th>Contact</th>
<th>Date</th>
<th>Action</th>
</tr>

{% for s in students %}
<tr>

<td>{{ s.student_id }}</td>
<td>{{ s.name }}</td>
<td>{{ s.subject }}</td>
<td>{{ s.contact }}</td>
<td>{{ s.admission_date }}</td>

<td>
<a href="/delete_student/{{s.id}}"
class="btn btn-danger btn-sm">
Delete
</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}